* {
	border-radius: 0px;
}

body {
	font-size: 16px;
}


.carousel-inner{
  height: 500px;
  overflow: hidden;
  
}

@media screen and (max-width: 768px) {
	 .carousel-inner{
	  height: 200px;
	  overflow: hidden;
	  }
    }


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
 min-width: 100%;  
}


.navbar-default .navbar-brand {
	color: white;
}



.row {
	margin:0px auto;
}

.btn-primary {
	background-color: black;
	border-radius: 0px;
	border: 0px;
}

.form-group {
	margin: 0px 0px 10px 0px;
}

.right {
	float: right;
}

.headlinecaption {
	width: 50%;
	float: left;
	display: inline,
}

h1 {
	margin-top: 40px;
	font-weight: bold;
	
}
	
footer {
	background-color: black;
	padding-top: 30px;
}

.list-unstyled{
	color: white;
}

a {
	color: grey;
}

a:hover {
	color: #959595;
}

.panel-default>.panel-heading {
	background-color: black;
	border-radius: 0px;
	color: white;
}

.navbar-default {
	background-color: black;
	color: white;
	margin: 0px;
	border-radius: 0px;
	border:0px;
}

input.form-control, form-control {
	border-radius: 0px;
}

a.navbar-default:link {
	color: white;
}


hr {
	border: 1px solid #EAEAEA;
	margin-top: 30px;
}

.row {
	width: 100%;
}

footer {
	margin-top: 20px;
}

.thumbnail {
	border-radius: 0px;
	border: 0px;
	height: 300px;
	overflow: hidden;
}



.caption {
	background-color: black;
	height: 40px;
	color: white;
}

.headlinecaption {
	color: white;
}

.white {
	color: white;
}

.navbar-form {
	background-color: black;
}

.black {
	background-color: black !important;
	color: white;	
}

.navbar-link {
	color: white
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

#footercenter {
	margin: 0px auto 40px auto;
	width: 400px;
	
}

#nav-search {
	background-color: black;
	color: white;
	border: 1px solid white;
}


